*.exe
*.ilk
*.pdb
*.vs
*.vcxproj.user
*.project.assets.json
*.obj.Debug
*.obj
obj/**
obj/
**/obj
*.cache
*.props
*.targets
*.assets.json
*.csproj.nuget.cache
*../obj
*../obj/..
**/obj/
*.Hackfest.csproj.nuget.cache
*../obj
**/obj/**
**\obj
**\obj\
*..\obj
*..\obj\..
