@model IEnumerable<BonAnniversaireToto.Models.Invitation>

@{
    Layout = null;
}

<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>AfficherRSVP</title>
    <style>
        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="panel-body">
        <h2>Voici la liste des frippons : </h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom : </th>
                    <th>Courriel : </th>
                    <th>Téléphone : </th>
                </tr>
            </thead>
            <tbody>
                @foreach (BonAnniversaireToto.Models.Invitation i in Model)
                {
                    <tr>
                        <td>@i.Nom</td>
                        <td>@i.Courriel</td>
                        <td>@i.Téléphone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

