@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/monStyles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Bonjour, c'est Toto !</h1>
        <h2>Ça va l'être, t'être, n'être ... c'est ben compliqué le français ... le fun à mon party d'anniversaire.</h2>
        <h3>Je vous y invite.</h3>
        <div class="btn btn-success">
            @Html.ActionLink("RSVP", "FormulaireRSVP")
        </div>
    </div>
</body>
</html>

